obj/
bin/
.vs/
.env

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
node_modules/
dist/
Clients/Harvey.Member.Web/.idea/
ocelot.json
Clients/Harvey.Store.Web/.idea/
Clients/Harvey.Admin.Web/.idea/
.vscode/launch.json
.vscode/tasks.json
Servers/Harvey.Ids/wwwroot/site/site.min.css
Servers/Harvey.Ids/wwwroot/site/site.min.js
clientsrc/package-lock.json
clientsrc/default.realm.lock
clientsrc/default.realm
clientsrc/realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm
clientsrc/realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm.lock
Servers/Harvey.DeviceHub/packages/
/packages
src/Services/DeviceHub/Harvey.DeviceHub/Files/
clientsrc/release/
src/Services/DeviceHub/Harvey.DeviceHub/Images/barCode.png
src/Services/DeviceHub/Harvey.DeviceHub/Images/qrCode.png
